{% extends 'base.html' %}

{# TODO: Replace EVENT NAME with the event's name #}
{% block title %}Event Details | EVENT NAME{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{event_name}}</h2>

      <p>        
        {{description}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <img src={{image}}>

      <p>        
        <a href={{ticketmaster_link}} target="_blank">
          Go to Ticketmaster page
        </a>
      </p>
    </div>

    <div class="col">
      <h3>Start date</h3>   
      <p>{{date}}</p>

      <h3>Venues</h3>
      <ul>
        {% for item in venues %}
          <li>{{item['name']}}</li>
        {% endfor %}        
      </ul>

      <h3>Classifications</h3>
      <ul>       
        {%if classifications != [] %} 
          {% for item in classifications %}
            <li>{{ item['genre']['name'] }}</li>
          {% endfor %}  
        {% else %} 
          "Not Specified"
        {% endif %}       
      </ul>
    </div>
  </div>
</div>
{% endblock %}
